@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-[#eaecef] bg-[#0b0e11];
    }
}

@layer components {

    /* Mobile-first touch target sizes as per guideline */
    .touch-target {
        @apply min-w-[44px] min-h-[44px] flex items-center justify-center;
    }
}